/*-------------------------------------------
共通クラス
-------------------------------------------*/
@use 'setting' as s;

body {
    font-family: "Hiragino Mincho Pro", "Hiragino Mincho ProN", "Yu Mincho", YuMincho, HGS明朝E, メイリオ, Meiryo, serif;
    letter-spacing: .1em;
    line-height: 1.5;
}

img {
  max-width: 100%;
}

a:hover {
	opacity: 0.85;
	transition: 0.3s;
}

.body {
	background: s.$colorBlack;
}

.main {
	position: relative;
}

/*-------------------------------------------
共通パーツの指定
-------------------------------------------*/
.u-wrapper {
	width: 100%;
	max-width: 1360px;
	margin: 0 auto;
	padding: 0 40px;

	@include s.mq(tab) {
		padding: 0px 15px;
	}
}
/* ここから記述します。 */

.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-title {
  display: flex;
  align-items: center;
  width: 160px;
  height: 80px;
}

.c-hamburger {
  position: relative;
  z-index: 2;
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.c-hamburger__bar{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 2px;
  transform: translate(-50%, -50%);
  background: s.$colorWhite;
  transition: .5s;
}

.c-hamburger__bar::before,
.c-hamburger__bar::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 2px;
  transform: translate(-50%, -50%);
  background: s.$colorWhite;
  transition: 3s;
}

.c-hamburger__bar::before {
  top: -10px;
}

.c-hamburger__bar::after {
  top: 12px;
}

.c-hamburger.is-open .c-hamburger__bar {
  background: transparent;
}

.c-hamburger.is-open .c-hamburger__bar::before {
  transform-origin: right bottom;
  transform: translate(-50%, -50%) rotate(-360deg);
}

.c-hamburger.is-open .c-hamburger__bar::after {
  // transform-origin: right top;
  // transform: translate(-50%, -50%) rotate(45deg);
}

.c-header__nav {
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 2;
  width: 300px;
  height: 100vh;
  background-color: s.$colorWhite;
  padding: 30px 20px;
  transition: .3s;
}

.c-header__nav.is-open{
  left: 0;
}

.c-header__nav-item {
  list-style: none;
  margin-bottom: 7%;
}

.c-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease, visibility .2s ease;
  z-index: 1;
}

.c-overlay.is-open {
  opacity: 1;
  visibility: visible;
}

/*-------------------------------------------
footer
-------------------------------------------*/

.c-footer {
  background-color: s.$colorWhite;
}

.c-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;

  @include s.mq(tab) {
    display: block;
    text-align: center;
    height: auto;
    padding: 50px 0;
	}
}

.c-title--footer {
  height: auto;
  margin-bottom: 30px;

  @include s.mq(tab) {
    margin: 0 auto 30px;
	}
}

.c-footer__nav {
    @include s.mq(tab) {
      margin-bottom: 50px;
	}
}

.c-footer__nav-list {
  display: flex;
  gap: 25px;

  @include s.mq(tab) {
    flex-direction: column;
	}
}

.c-footer__nav-item {
  @include s.mq(tab) {
	}
}

.c-footer__copyright {
  font-size: .9rem;
}

