/*-------------------------------------------
companyページ / company.html
-------------------------------------------*/
@use 'setting' as s;

.c-sprit__left iframe {
  width: 100%;
  height: 100%;
}

// .p-company__info {
//   display: flex;
//   align-items: center;

//   @include s.mq(tab) {
//     aspect-ratio: auto;
//   }
// }

.p-company__list {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.p-company__list dd,
.p-company__list dt {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  padding: 20px 10px;

  @include s.mq(tab) {
    padding: 20px 10px;  
  }
}

.p-company__list dt:last-of-type,
.p-company__list dd:last-of-type {
  border-bottom: none;
}