@use 'setting' as s;

body {
    font-family: "Hiragino Mincho Pro", "Hiragino Mincho ProN", "Yu Mincho", YuMincho, HGS明朝E, メイリオ, Meiryo, serif;
    letter-spacing: .1em;
    line-height: 1.5;
}

img {
  max-width: 100%;
}

a:hover {
	opacity: 0.85;
	transition: 0.3s;
}

.body {
	background: s.$colorBlack;
}

.main {
	position: relative;
}

/*-------------------------------------------
共通パーツの指定
-------------------------------------------*/
.u-wrapper {
	width: 100%;
	max-width: 1360px;
	margin: 0 auto;
	padding: 0 40px;

	@include s.mq(tab) {
		padding: 0px 15px;
	}
}

/*-------------------------------------------
header
-------------------------------------------*/
.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-site-title {
  display: flex;
  align-items: center;
  width: 160px;
  height: 80px;
}

.c-hamburger {
  position: relative;
  z-index: 2;
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.c-hamburger__bar {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background: s.$colorWhite;
  transition: .5s;
}

.c-hamburger__bar::before,
.c-hamburger__bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: s.$colorWhite;
  transition: .5s;
}

.c-hamburger__bar::before {
  top: -10px;
  left: 0;
  transform-origin: right center;
}

.c-hamburger__bar::after {
  top: 11px;
  left: 0;
  transform-origin: right center;
}

.c-hamburger.is-open .c-hamburger__bar {
  background: transparent;
}

.c-hamburger.is-open .c-hamburger__bar::before {
  transform-origin: right center;
  transform: rotate(-45deg);
}

.c-hamburger.is-open .c-hamburger__bar::after {
  transform-origin: right center;
  transform: rotate(45deg);
}

.c-header__nav {
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 2;
  width: 300px;
  height: 100vh;
  background-color: s.$colorWhite;
  padding: 30px 20px;
  transition: .3s;
}

.c-header__nav.is-open{
  left: 0;
}

.c-header__nav-item {
  list-style: none;
  margin-bottom: 7%;
}

.c-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease, visibility .2s ease;
  z-index: 1;
}

.c-overlay.is-open {
  opacity: 1;
  visibility: visible;
}

/*-------------------------------------------
main
-------------------------------------------*/
.c-main {
  color: s.$colorWhite;
}

.c-section-title {
  position: relative;
  font-size: 32px;
  padding: 30px 0 30px 70px;

  @include s.mq(tab) {
    font-size: 24px;
    padding: 30px 0 30px 50px;
  }
}

.c-section-title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 1px;
  background-color: s.$colorWhite;

  @include s.mq(tab) {
    width: 30px;
  }
}

/*--------------- gridスタイル ------------------*/

.c-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5.5rem 2rem;
  position: relative;
  margin-bottom: 150px;

  @include s.mq(tab) {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem .5rem;
    font-size: 14px;
    margin-bottom: 130px;
  }
}

.c-products__item {
  color: white;
  aspect-ratio: 1 / 1;
}

.c-products__link {
  display: block;
  height: 100%;
}

.c-products__image {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 2%;

  @include s.mq(tab) {
  margin-bottom: 1%;
  }
}

/*--------------- 2分割レイアウト ------------------*/

.c-sprit {
  display: flex;
  gap: 45px;
  margin-bottom: 150px;
  
  @include s.mq(tab) {
    flex-direction: column;
    margin-bottom: 70px;
  }
}

.c-sprit__left,
.c-sprit__right {
  flex: 1;
  aspect-ratio: 1 / 1;
}

.c-sprit__right {
  display: flex;
  align-items: center;

  @include s.mq(tab) {
    aspect-ratio: auto;
  }
}

.c-content-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/*--------------- products item ------------------*/

.c-item__title {
  font-size: 38px;
  margin-bottom: 20px;

  @include s.mq(tab) {
    font-size: 24px;
  }
}

.c-item__price {
  font-size: 24px;
  margin-bottom: 20px;

  @include s.mq(tab) {
    font-size: 20px;
  }
}

.c-add-to-cart {
  margin-bottom: 40px;
}

.c-add-to-cart__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.c-add-to-cart__label {
  font-size: 14px;
  white-space: nowrap;
  margin-bottom: 2px;
}

.c-add-to-cart__quantity {
  width: 160px;
  border: 1px solid s.$colorWhite;
  background-color: s.$colorWhite;
  color: #000;
  font-size: 16px;  
  padding: 6px;
}

.c-add-to-cart__button {
  padding: 14px 18px;
  background-color: rgb(186, 0, 0);
  color: s.$colorWhite;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color .3s, color .3s;
}

.c-text {
  line-height: 2;
}

/*-------------------------------------------
footer
-------------------------------------------*/
.c-footer {
  background-color: s.$colorWhite;
}

.c-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;

  @include s.mq(tab) {
    display: block;
    text-align: center;
    height: auto;
    padding: 50px 0;
	}
}

.c-site-title--footer {
  height: auto;
  margin-bottom: 30px;

  @include s.mq(tab) {
    margin: 0 auto 30px;
	}
}

.c-footer__nav {
    @include s.mq(tab) {
      margin-bottom: 50px;
	}
}

.c-footer__nav-list {
  display: flex;
  gap: 25px;

  @include s.mq(tab) {
    flex-direction: column;
	}
}

.c-footer__nav-item {
  @include s.mq(tab) {
	}
}

.c-footer__copyright {
  font-size: .9rem;
}

