@use 'setting' as s;

.l-main {
  position: relative;
}

.p-side-title {
  position: absolute;
  top: 37%;
  z-index: 3;
  left: -70px;
  transform: rotate(-90deg);
  font-size: 15px;
  color: rgba(255, 255, 255, 0.4);

  @include s.mq(tab) {
    display: none;
  }
}

.p-side-title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -65px;
  width: 40px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);

  @include s.mq(tab) {
    display: none;
  }
}

.p-products__item--vertical {
  grid-row: span 2;
  aspect-ratio: auto;
  object-fit: cover;
  object-position: 70% center;

  @include s.mq(tab) {
    grid-column: span 2;
    object-fit: contain;
  }
}

.p-products__image--focus-upper {
  object-fit: cover;
  object-position: 100% center;
}

.p-products__more {
  text-align: center;
  margin-bottom: 120px;
}

.p-products__more-link {
  border: solid white 1px;
  color: white;
  padding: 15px 80px;
}
