/*-------------------------------------------
TOP gridレイアウト
-------------------------------------------*/
@use 'setting' as s;
/* ここから記述します。 */

.p-top-main::before {
  content: "UTSUWAYA KOHARU";
  position: absolute;
  top: 65%;
  left: -5%;
  transform: rotate(-90deg);
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);

  @include s.mq(tab) {
    display: none;
  }
}

.p-top-main::after {
  content: "";
  position: absolute;
  top: 85%;
  left: 1.6%;
  width: 1px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.4);

  @include s.mq(tab) {
    display: none;
  }
}

.p-products::before {
  // content: "UTSUWAYA KOHARU";
  // position: absolute;
  // top: 30%;
  // left: 0%;
  // transform: rotate(-90deg) translate(-50%, -50%);
  // transform-origin: left bottom;
  // font-size: 1rem;
  // color: rgba(255, 255, 255, 0.4);
  // letter-spacing: 1.2;
  // white-space: nowrap;
  // pointer-events: none;

  // @include s.mq(tab) {
  //   display: none;
  // }
}

.p-products::after {
  // content: "";
  // position: absolute;
  // top: 55%;
  // left: -25px;
  // transform: translate(-50%, -50%);
  // transform-origin: left bottom;
  // width: 1px;
  // height: 50px;
  // background-color: rgba(255, 255, 255, 0.4);

  // @include s.mq(tab) {
  //   display: none;
  // }
}

.p-products__item--vertical {
  grid-row: span 2;
  aspect-ratio: auto;
  object-fit: cover;
  object-position: 70% center;

  @include s.mq(tab) {
    grid-column: span 2;
    object-fit: contain;
  }
}

.p-products__image--focus-upper {
  object-fit: cover;
  object-position: 100% center;
}

.p-products__more {
  text-align: center;
  margin-bottom: 120px;
}

.p-products__more-link {
  border: solid white 1px;
  color: white;
  padding: 15px 80px;
}
