/*-------------------------------------------
productsページ / products.html
-------------------------------------------*/
@use 'setting' as s;
/* ここから記述します。 */

.p-products--popular {
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 180px;

  @include s.mq(tab) {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
  }
}