@charset "UTF-8";
body {
  font-family: "Hiragino Mincho Pro", "Hiragino Mincho ProN", "Yu Mincho", YuMincho, HGS明朝E, メイリオ, Meiryo, serif;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

a:hover {
  opacity: 0.85;
  transition: 0.3s;
}

.body {
  background: #353535;
}

.main {
  position: relative;
}

/*-------------------------------------------
共通パーツの指定
-------------------------------------------*/
.u-wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 900px) {
  .u-wrapper {
    padding: 0px 15px;
  }
}

/*-------------------------------------------
header
-------------------------------------------*/
.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-site-title {
  display: flex;
  align-items: center;
  width: 160px;
  height: 80px;
}

.c-hamburger {
  position: relative;
  z-index: 2;
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.c-hamburger__bar {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
}

.c-hamburger__bar::before,
.c-hamburger__bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
}

.c-hamburger__bar::before {
  top: -10px;
  left: 0;
  transform-origin: right center;
}

.c-hamburger__bar::after {
  top: 11px;
  left: 0;
  transform-origin: right center;
}

.c-hamburger.is-open .c-hamburger__bar {
  background: transparent;
}

.c-hamburger.is-open .c-hamburger__bar::before {
  transform-origin: right center;
  transform: rotate(-45deg);
}

.c-hamburger.is-open .c-hamburger__bar::after {
  transform-origin: right center;
  transform: rotate(45deg);
}

.c-header__nav {
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 2;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  padding: 30px 20px;
  transition: 0.3s;
}

.c-header__nav.is-open {
  left: 0;
}

.c-header__nav-item {
  list-style: none;
  margin-bottom: 7%;
}

.c-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  z-index: 1;
}

.c-overlay.is-open {
  opacity: 1;
  visibility: visible;
}

/*-------------------------------------------
main
-------------------------------------------*/
.c-main {
  color: #fff;
}

.c-section-title {
  position: relative;
  font-size: 32px;
  padding: 30px 0 30px 70px;
}
@media screen and (max-width: 900px) {
  .c-section-title {
    font-size: 24px;
    padding: 30px 0 30px 50px;
  }
}

.c-section-title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 1px;
  background-color: #fff;
}
@media screen and (max-width: 900px) {
  .c-section-title::before {
    width: 30px;
  }
}

/*--------------- gridスタイル ------------------*/
.c-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5.5rem 2rem;
  position: relative;
  margin-bottom: 150px;
}
@media screen and (max-width: 900px) {
  .c-products {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 0.5rem;
    font-size: 14px;
    margin-bottom: 130px;
  }
}

.c-products__item {
  color: white;
  aspect-ratio: 1/1;
}

.c-products__link {
  display: block;
  height: 100%;
}

.c-products__image {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
}
@media screen and (max-width: 900px) {
  .c-products__image {
    margin-bottom: 1%;
  }
}

/*--------------- 2分割レイアウト ------------------*/
.c-sprit {
  display: flex;
  gap: 45px;
  margin-bottom: 150px;
}
@media screen and (max-width: 900px) {
  .c-sprit {
    flex-direction: column;
    margin-bottom: 70px;
  }
}

.c-sprit__left,
.c-sprit__right {
  flex: 1;
  aspect-ratio: 1/1;
}

.c-sprit__right {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .c-sprit__right {
    aspect-ratio: auto;
  }
}

.c-content-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/*--------------- products item ------------------*/
.c-item__title {
  font-size: 38px;
  margin-bottom: 20px;
}
@media screen and (max-width: 900px) {
  .c-item__title {
    font-size: 24px;
  }
}

.c-item__price {
  font-size: 24px;
  margin-bottom: 20px;
}
@media screen and (max-width: 900px) {
  .c-item__price {
    font-size: 20px;
  }
}

.c-add-to-cart {
  margin-bottom: 40px;
}

.c-add-to-cart__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.c-add-to-cart__label {
  font-size: 14px;
  white-space: nowrap;
  margin-bottom: 2px;
}

.c-add-to-cart__quantity {
  width: 160px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  padding: 6px;
}

.c-add-to-cart__button {
  padding: 14px 18px;
  background-color: rgb(186, 0, 0);
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.c-text {
  line-height: 2;
}

/*-------------------------------------------
footer
-------------------------------------------*/
.c-footer {
  background-color: #fff;
}

.c-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
}
@media screen and (max-width: 900px) {
  .c-footer__container {
    display: block;
    text-align: center;
    height: auto;
    padding: 50px 0;
  }
}

.c-site-title--footer {
  height: auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 900px) {
  .c-site-title--footer {
    margin: 0 auto 30px;
  }
}

@media screen and (max-width: 900px) {
  .c-footer__nav {
    margin-bottom: 50px;
  }
}

.c-footer__nav-list {
  display: flex;
  gap: 25px;
}
@media screen and (max-width: 900px) {
  .c-footer__nav-list {
    flex-direction: column;
  }
}

.c-footer__copyright {
  font-size: 0.9rem;
}

.l-main {
  position: relative;
}

.p-side-title {
  position: absolute;
  top: 37%;
  z-index: 3;
  left: -70px;
  transform: rotate(-90deg);
  font-size: 15px;
  color: rgba(255, 255, 255, 0.4);
}
@media screen and (max-width: 900px) {
  .p-side-title {
    display: none;
  }
}

.p-side-title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -65px;
  width: 40px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}
@media screen and (max-width: 900px) {
  .p-side-title::before {
    display: none;
  }
}

.p-products__item--vertical {
  grid-row: span 2;
  aspect-ratio: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 70% center;
     object-position: 70% center;
}
@media screen and (max-width: 900px) {
  .p-products__item--vertical {
    grid-column: span 2;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.p-products__image--focus-upper {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% center;
     object-position: 100% center;
}

.p-products__more {
  text-align: center;
  margin-bottom: 120px;
}

.p-products__more-link {
  border: solid white 1px;
  color: white;
  padding: 15px 80px;
}

.p-about__subtitle {
  font-size: 28px;
  margin-bottom: 20px;
}
@media screen and (max-width: 900px) {
  .p-about__subtitle {
    font-size: 22px;
  }
}

.c-sprit__left iframe {
  width: 100%;
  height: 100%;
}

.p-company__list {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.p-company__list dd,
.p-company__list dt {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  padding: 20px 10px;
}
@media screen and (max-width: 900px) {
  .p-company__list dd,
  .p-company__list dt {
    padding: 20px 10px;
  }
}

.p-company__list dt:last-of-type,
.p-company__list dd:last-of-type {
  border-bottom: none;
}

.p-item {
  margin-top: 30px;
}

.p-products--popular {
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 180px;
}
@media screen and (max-width: 900px) {
  .p-products--popular {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
  }
}/*# sourceMappingURL=style.css.map */